$headerBgColor: #282828;
$btnBgColor: #04b31e;
$sectionBgColor: #f9f9f9;
$footerBgColor: #060606;

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{

    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #444;
}
//header
.header {
    background-color: $headerBgColor;
    padding: 10px 0;
}
.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    max-width: 60px;
    img{
        width: 100%;
    }
}
.header__btn {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 15px 10px 45px;
    background-color: $btnBgColor;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    &:hover{
        color: #fff;
        background-color: #045811;
    }
    span{
        position: relative;
        display: block;
        min-height: 22px;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 20px;
            background: url(../../assets/img/telephone-fill.svg);
            background-repeat: no-repeat;
            left: -27px;
            top: 50%;
            transform: translateY(-50%);

        }
    }
}
//mainPicture
.mainPicture {
    background: url(../../assets/img/flantsevye-soediniteli.jpg) no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);;
    }
}
.mainPicture__title {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 200px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}
//seal
.containerNoPadding{
    padding: 0;
}
.seal__title {
    text-align: center;
    padding: 20px 12px;
    background-color: $btnBgColor;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}
.seal__box {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    padding: 30px 30px 14px;
    margin: 30px 0;
}
.seal__text {
    font-weight: 300;
    line-height: 1.5;
}
//@at-root
.verificationProcedure {
    background-color: $sectionBgColor;
    padding: 30px 0;
}
.verificationProcedure__box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.verificationProcedure__title {
    font-size: 28px;
    font-weight: 700;
}
.verificationProcedure__text {
    font-weight: 300;
    line-height: 1.5;
}
.verificationProcedure__ul{
    padding-left: 20px;
}
.verificationProcedure__li {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
}
.verificationProcedure__right {
    img{
        width: 100%;
        border-radius: 20px 0 20px 0;
        height: 100%;
    }
}
.greenLetter{
    color: $btnBgColor;
}